/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    font-size: 15.5px;
    background-color: #fff;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

main {
  float: right;
}

/* HEADING */

header {
    margin-bottom: 35px;
}

.main-nav {
 list-style-type:none;
 margin: 0 15px;
 padding: 0;
 color: black;
 display: inline-block;
}

.main-nav li {
  font-weight: bold;
  justify-content: space-between;
  float: right;
}

.pic {
  height: 300px;
  width: auto;
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 50%;
}

.name {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 73px;
  text-transform: uppercase;
  margin-top: 45px;
  letter-spacing: -6px;
  margin-bottom: 85px;
}

h4 {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: -1px;
  text-transform: none;
}

hr {
  border-width: 1px;
  margin-top: 0;
  overflow: hidden;
}


/* HOVER */

a:link {
color: #bcbbbb;
}
a:visited {
color: #000000;
}
a:hover {
color: #605e70;
}


/* MAIN */

.social_links {
    font-size: 0;
    list-style-type:none;
    display: inline-block;
}

.icon {
  display: inline-block;
  float: right;
  width:5%;
  height:5%;
}

.big {
  height: 545px;
  width: auto;
  margin: 10px auto;
}

.feature-item {
  text-align: center;
}

.img {
  text-align: center;
  width: 33.33%;
  height: 45px;
  vertical-align: middle;
}

.project {
   opacity: 0.9;
   -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
   transition: opacity 0.5s, -webkit-transform 0.5s;
   transition: transform 0.5s, opacity 0.5s;
   transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.project:hover {
    opacity: 1;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display:block;
  width: -webkit-fill-available;
}

.logo {
  display: inline;
  float: left;
  width: 90px;
  height: auto;
  margin-right: 20px;
}


h2 {
  font-size: 30px;
  color: #bcbbbb;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: -1.2px;
}

h3 {
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 0;
  letter-spacing: -1px;
}

p {
  letter-spacing: -0.5px;
}

.content {
  margin-left: 20px;
}

.updated {
  float: right;
}

/* FOOTER */

footer {
  margin-top: 30px;
  clear: both;
  text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1023px) {
  p {
      font-size: 1.1em;
  }

  h2, h3 {
      font-size: 1.3em;
  }
}

@media only screen and (max-width: 767px) {
  p {
      font-size: 0.9em;
  }

  h2, h3 {
      font-size: 1.1em;
  }

  aside {
    display: none;
  }
}

/* small phones : from 0 to 480px */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 3.3em;
  }

  aside {
    display: none;
  }
}
